@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


html, body{
    scroll-behavior: smooth;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}

:root {
  --snow-color: rgba(0, 0, 0, 0.2);
}

.dark {
  --snow-color: rgba(255, 255, 255, 0.9);
}
